body{
    margin: 0%;
}

#site_header {
    background-color: #4EA0FF;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: 30%;
}

.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 3px;
}

main{
    margin-left: 6px;
}

#title_main{
    margin-bottom: 20px;
}

h1{
    font-size: 36px;
    margin-bottom: 0px;
}

h4{
    margin: 0%;
    color: gray;
}

#booleaner{
    color: #20A9E5;
}

#data{
    margin: 0%;
    color: gray;
    font-size: 12px;
}