body{
    margin: 0%;
}

#site_header {
    background-color: #4EA0FF;
    height: 100px;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: 40%;
}

.logo{
    height: 50px;
    margin-top: 40px;
    margin-left: 3px;
}

main{
    margin-left: 6px;
}